.main.outer{padding-top: 50px;}
.header-panel.shadow-z-2 {
    background-color: #36393e;
    padding: 50px 0 15px 0;
    width: 100%;
}
.full{ font-size: 16px; }
.logo-img {
    width: 56px;
    height: 56px;
    border-radius: 60px;
    margin: 0 auto;
}
.logo-turner {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}
.row-content{
    vertical-align: top;
}
.row-picture {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.row-details {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
p.info {
    color: #fff;
}
p.info a {
    color: #fff;
    text-decoration: underline;
}
.full ul,.full ol {
    margin-left: 15px;
}
.full img{
    display: block;
    max-width: 100%;
    height: auto;
}
.social-icons {
    margin: 20px 0 0;
}
.icon {
    background: rgb(40, 43, 48);
    /*border-radius: 100%;*/
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #cacaca;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon:hover {
    color: rgba(255, 255, 255, 0.63);
    background: #212121;
}
.menu ul li {
    list-style: none;
    margin: 5px 0;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
    background: #484b52;
}
li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 5px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: #B8CA28;
}
.menu ul li a {
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 0 0 0 10px;
    color: #fff;
}
.home-subtitle {
    font-size: 26px;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #01c87b;
    font-weight: 300;
}
h2.blog-title-pro{color: #fff;}
h2.blog-title-pro:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    margin-top: 16px;
    margin-left: 3px;
    background: rgba(255, 255, 255, 0.72);
}
span.tags{ margin: 0 2px;cursor: pointer;display: inline-block;}
.card .card-image .card-image-headline-custom{
    position: absolute;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0 12px;
    color: #fff;
    font-size: 2em;
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
    margin: 0 !important;
    position: relative;
    bottom: 25px;
    width: auto;
}
#filters {
    margin: 0 0 25px 0;
}
.list-separator li > a i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}
.error {
    color: #EF7272!important;
    font-size: 12px!important;
}
#portfolio-filter {
        margin-top: 50px;
}
.navbar-toggle i {
    color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
    color:#fff!important;
}
@media (max-width: 768px) {
    #portfolio-filter {
        margin-top: 0px;
    }
}
footer {
    border-top: 1px solid #5d5d5f;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    color: #d3d6da;
    font-size: 14px;
    bottom: 0;
    padding-bottom: 10px;
    text-align: center;
}
.pager li.active a {
    background: rgba(89, 148, 129, 0.3);
}
/** Search input **/
.searchcontrol {
    margin-top: 35px;
    margin-bottom: 0;
}
.searchcontrol input[type=text]{
    color:#fff;
}
.searchcontrol input[type=text]:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/** Search result dropdown **/
.search__results {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0;
    transition: 0.2s ease;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    z-index: 999;
}
.search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
    display: none;
}
.search__results > li {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
}
.search__results > li > a {
    padding: 10px;
}
.search__result-date {
    font-size: 12px;
    color: #BBB;
    position: absolute;
    right: 12px;
}
.card-title-reg {
    font-style: normal;
    line-height: 32px;
    text-align:  center;
    font-size: 20px;
}
.line {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(253, 253, 253, 0.22);
}
.text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
}

.blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #36393e;
    line-height: 1.4;
    font-family: sans-serif;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  /*.blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
            transform: scale(1.3) rotate(3deg);
  }*/
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    /*-webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;*/
  }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left .2s;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
  }
  .blog-card .details a {
    -webkit-text-decoration: dotted underline;
            text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    padding: 5rem;
    background: #36393e;
    position: relative;
    z-index: 1;
  }
  .blog-card .description h2,
  .blog-card .description h3 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h2 {
    line-height: 1;
    margin: 0;
    font-size: 2.5rem;
  }
  .blog-card .description h3 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
              max-width: 100%;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      -webkit-transform: skewX(-3deg);
              transform: skewX(-3deg);
      content: "";
      background: #36393e;;
      width: 30px;
      position: absolute;
      left: -10px;
      top: -1px;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  .ya-share2 {
    margin: 10px 0 0;
  }
  .share-page {
    margin: 0 15px 0
  }
  .h1-blog{
    text-align: center;
  }
  .img-blog{
    margin-left: auto;
    margin-right: auto }
  }
  .p-blog{
    text-align:justify
  }