 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Если взял в работу заказ, то обязательно довожу до итогового результата, никуда не пропадаю.</p>
                </div>
                <div class="col-lg-4">
                    <p>Фриланс для меня является хобби, которое переросло в работу, поэтому с заказами работаю в удовольствие, но при этом максимально серьезно и ответственно.</p>
                </div>
            </div>
        </div>
    </section>
