<head>
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-config" content="none">
    <!--favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon/64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/images/favicon/favicon_32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon/favicon_16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/images/favicon/apple_192.png" sizes="192x192"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple_57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple_60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple_72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple_76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple_114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple_120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple_144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple_152.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/images/favicon/apple_192.png"/>
    <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple_192.png" />
    <!--og-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta name="og:description" content="">
    <meta property="og:image" content="1000x523.jpg">
    <link rel="image_src" href="1000x523.jpg">
    <meta name="mrc__share_title" content="">
    <meta property="og:site_name" content="GoFi Blog">
    <meta property="og:url" content="/" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}" />
    {% if site.meta_author %}<meta name="author" content="{{ site.meta_author }}">{% endif %}
    <meta name="yandex-verification" content="5cb5aec66d88fe19" />
    <meta name="google-site-verification" content="UC8SQOAaMugqqVzp-ZE301rDlxT_U3lOnh5Wg4BXD_4" />
    <meta name="msvalidate.01" content="DA089858E3D1ABC10E500C718864EAEF" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" }}">
    <!-- Optimize -->
    <!--<link rel="stylesheet" href="{{ "/css/normalize.min.css" }}">-->
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" }}">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet" type="text/css">
    <!--<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
