
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ПОРТФОЛИО</h2>
                    <div class="star-light">
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfoliocard/{{ post.img-2 }}" class="img-responsive" alt="{{ post.alt }}" width="360"
    height="260">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
